
body{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-two{
  display: flex;
}

.search-bar {
    display: flex;
    width: 98%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    align-items: center;
    margin-bottom: 16px;
  }

  #search-input{
    width: 100%;
    padding: 12px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
  }

 .search-icon {
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
  }

  .table {
    width: 100%;
  }

 .table th,
 .table td {
    padding: 10px;
    text-align: center;

  }

 .table th {
    background-color: #f9f9f9;
    font-weight: 500;
  }

  #category-icon{
    background-color: #7dadd9;
    padding: 8px;
    border-radius: 50%;
  }

.hero{
  border:1px solid #ddd;
}

  .col-round{
    padding: 2px;
    background-color: #7dadd9;
    width: 22px;
    margin-left: 20px;
    border-radius: 50%;
    text-align: center;
  }

  .col-round span{
    color: white;
  }

  
  .sort {
    position: relative;
    display: inline-block;
  }
  
  .sort-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: calc(-100% + 50px);
  }
  
  .sort-content input{
    margin: 5px;
  }
  
  #sort-by{
    font-weight: bold;
    margin-bottom: 6px;
  }

  #sortBtn {
    color: #000;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  #sortBtn:focus {
    outline: none;
  }
  

  .action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .action i{
    cursor: pointer;
  }

  .container{
    display: flex;
    width: 300px;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
  }

  .btn_showresult{
    border: none;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    background-color: #e7c78a;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.btn_showresult:hover{
    background-color: #e8942e;
}
  

  .btns{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 10px;
  }

  .btn-previous{
    border:1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    color: #ddd;
    margin-top: 20px;
    cursor: pointer;
  }

  .btn-previous i{
    color: #000;
  }
  
  .btn-next{
    border:1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    margin-top: 20px;
    cursor: pointer;
  }

  .tab-num{
    margin-top: 20px;
    border-radius: 2px;
    cursor: pointer;
  }

  .tab-num button{
    border: none;
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #tab-num-active{
    background-color: #f0eded;
  }

  .status-btn{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 8px;
  }
